main{
    min-height: 100vh;
}
.container{
    max-width: 1200px;
    margin: 0px auto;
}
.auth-card{
    border: 1px solid var(--border);
    max-width: 600px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 5px;
}
.auth-card-header{
    text-align: center;
    padding: 20px;
}
.auth-card-content{
    display: flex;
    flex-direction: column;
    gap: 3;
}

.input-group{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
label{
    font-size: 15px;
    padding: 5px;
}

input{
    padding: 10px 15px;
    border: 1px solid var(--border);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    border-radius: 10px;
}
input:focus{
    outline: 2px solid var(--border);
}

.auth-card-footer{
    padding: 15px 10px;
    display: flex;
    justify-content: center;
}
.auth-card-footer a{
    text-decoration: none;
    font-size: 17px;
    color: var(--text-color);
    text-align: center;
}
