*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --gray-1: #111111;
    --gray-2: #191919;
    --gray-3: #222222;
    --gray-4: #2A2A2A;
    --gray-5: #313131;
    --gray-6: #3A3A3A;
    --gray-7: #484848;
    --gray-8: #606060;
    --gray-9: #6E6E6E;
    --gray-10: #7B7B7B;
    --gray-11: #B4B4B4;
    --gray-12:#EEEEEE ;

    --green-1: #061006;  
    --green-2: #0D1F0D;
    --green-3: #142E14;
    --green-4: #1B3D1B;
    --green-5: #224C22;
    --green-6: #2E662E;  
    --green-7: #3B823B;   
    --green-8: #4CAF50;  
    --green-9: #66BB6A;
    --green-10: #81C784;
    --green-11: #A5D6A7;
    --green-12: #E8F5E9;  
    
    
    --red-1: #160A0A;  
    --red-2: #250E0E;
    --red-3: #3A1414;
    --red-4: #4E1A1A;
    --red-5: #632020;
    --red-6: #8A2B2B;  
    --red-7: #B93333;    
    --red-8: #E53935;  
    --red-9: #EF5350;
    --red-10: #F28B82;  
    --red-11: #F8BDBD;
    --red-12: #FFEBEE;   
    
    
    --black-1: rgba(0, 0, 0, 0.95);
    --black-2:rgba(0, 0, 0, 0.9);
    --black-3:rgba(0, 0, 0, 0.8);
    --black-4:rgba(0, 0, 0, 0.7);
    --black-5:rgba(0, 0, 0, 0.6);
    --black-6:rgba(0, 0, 0, 0.5);
    --black-7:rgba(0, 0, 0, 0.4);
    --black-8:rgba(0, 0, 0, 0.3);
    --black-9:rgba(0, 0, 0, 0.2);
    --black-10:rgba(0, 0, 0, 0.15);
    --black-11:rgba(0, 0, 0, 0.1);
    --black-12:rgba(0, 0, 0, 0.05);


    --white-1: rgba(255, 255, 255, 1.0);
    --white-2: rgba(255, 255, 255, 0.95);
    --white-3: rgba(255, 255, 255, 0.9);
    --white-4: rgba(255, 255, 255, 0.8);
    --white-5: rgba(255, 255, 255, 0.7);
    --white-6: rgba(255, 255, 255, 0.6);
    --white-7: rgba(255, 255, 255, 0.5);
    --white-8: rgba(255, 255, 255, 0.4);
    --white-9: rgba(255, 255, 255, 0.3);
    --white-10: rgba(255, 255, 255, 0.2);
    --white-11: rgba(255, 255, 255, 0.1);
    --white-12: rgba(255, 255, 255, 0.05);


    --green-a1: rgba(76, 175, 80, 0.95);
    --green-a2: rgba(76, 175, 80, 0.9);
    --green-a3: rgba(76, 175, 80, 0.8);
    --green-a4: rgba(76, 175, 80, 0.7);
    --green-a5: rgba(76, 175, 80, 0.6);
    --green-a6: rgba(76, 175, 80, 0.5);
    --green-a7: rgba(76, 175, 80, 0.4);
    --green-a8: rgba(76, 175, 80, 0.3);
    --green-a9: rgba(76, 175, 80, 0.2);
    --green-a10: rgba(76, 175, 80, 0.15);
    --green-a11: rgba(76, 175, 80, 0.1);
    --green-a12: rgba(76, 175, 80, 0.05);

    --red-a1: rgba(229, 57, 53, 0.95);
    --red-a2: rgba(229, 57, 53, 0.9);
    --red-a3: rgba(229, 57, 53, 0.8);
    --red-a4: rgba(229, 57, 53, 0.7);
    --red-a5: rgba(229, 57, 53, 0.6);
    --red-a6: rgba(229, 57, 53, 0.5);
    --red-a7: rgba(229, 57, 53, 0.4);
    --red-a8: rgba(229, 57, 53, 0.3);
    --red-a9: rgba(229, 57, 53, 0.2);
    --red-a10: rgba(229, 57, 53, 0.15);
    --red-a11: rgba(229, 57, 53, 0.1);
    --red-a12: rgba(229, 57, 53, 0.05);

    --bg-color:var(--white-1);
    --bg-color-foreground: var(--black-1);
    --card-color: var(--white-2);
    --text-color: var(--black-1);
    --text-color-foreground: var(--black-12);
    --text-color-muted: var(--gray-7);
    --border: var(--black-12);
    --text-seccess: var(--green-7);
    --text-error: var(--red-7);
    --button-color: var(--black-12);
    --button-color-muted: var(--black-11);
}

body{
    background: var(--bg-background);
    color: var(--text-color);
}

body[dark]{
    background: var(--bg-background-dark);
    color: var(--text-color-dark);
}

.btn-basic{
    background-color: var(--button-color);
    padding: 15px;
    border: 1px solid var(--border);
    font-size: 17px;
    font-weight: bold;
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color-muted);
}
.btn-basic:hover{
    background-color: var(--button-color-muted);
}

.btn-basic-icon{
    padding: 15px;
    border: 1px solid var(--border);
    font-size: 17px;
    font-weight: bold;
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.btn-icon{
    padding: 1em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    border: none;
    border-radius: 0.5em;
    background: var(--bg-background);
    cursor: pointer;
}
.btn-icon:hover{
    background-color: var(--border);
}


.container{
    max-width: 1620px;
    margin: 0 auto;
}





.input-group{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
input{
    padding: 10px 15px;
    border: 1px solid var(--border);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    border-radius: 10px;
}

textarea{
    padding: 10px 15px;
    border: 1px solid var(--border);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    border-radius: 10px;
}

input:focus{
    outline: 2px solid var(--border);
}
.input-group{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
label{
    font-size: 15px;
    padding: 5px;
}

