*{
    margin: 0;
    padding: 0;
}

:root{
    --bg-background-light: #fff;
    --bg-background-dark: #121212;
    --bg-bacground-light-foreground: #111111;
    --bg-bacground-dark-foreground: #fff;
    --text-color-light: #111;
    --text-color-dark: #fff;
    --text-color-foreground: #fff;
    --text-muted-light: #818181;
    --text-muted-dark: #9e9e9e;
    --border-light: #f3f3f3;
    --border-dark: #161616;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: var(--bg-background-light);
    color: var(--text-color-light);
}

body[dark]{
    background: var(--bg-background-dark);
    color: var(--text-color-dark);
}

.btn-basic{
    padding: 20px;
    border: 1px solid var(--border-light);
    font-size: 17px;
    font-weight: bold;
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
}
