{% include 'base.html' %}
{% load static %}

{% block staticfiles %}
<link rel="stylesheet" href="{% static 'account/css/auth.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="container">
        {% if user.is_authenticated %}
        <a href="{% url 'tasks' %}">
            <button class="btn-icon">
                back
            </button>
        </a>
        {% endif %}
        <div class="auth-card">
            <div class="auth-card-header">
                <h1>Регисрация</h1>
            </div>
            <div class="auth-card-content">
                <form action="" method="post">

                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.errors %}
                        <div>
                            {{field.errors}}
                        </div>
                        {% endif %}
                        <div class="input-group">
                            <label for="{{ field.id_for_label }}"> {{field.label}} </label>
                            {{field}}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn-basic">Регистрация</button>
                </form>
            </div>
            <div class="auth-card-footer">
                <a href="{% url 'login' %}">Уже есть аккаунт ? залетай</a>
            </div>
        </div>
    </div>
</main>
{% endblock content %}


{% block scriptfiles %}
<script src="{% static 'account/js/auth.js' %}"></script>
{% endblock scriptfiles %}